Repository univention/ucs-school: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, build pre-commit

.gitlab-ci.yml:

stages:
  - prepare
  - lint
  - build

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "webide"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_OPEN_MERGE_REQUESTS
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_PROTECTED == "true"

include:
  - project: univention/dist/docker-services
    file:
    - kaniko.yml
    - pre-commit.yml

variables:
  pipeline:
    value: ""
    description: "Skip jobs: '(skip-doc)'."

generate-config:
  stage: prepare
  image:
    name: docker-registry.knut.univention.de/knut/deb-builder
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
  artifacts:
    paths:
      - generated-config-doc.yml

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - changes:
      - "doc/ucsschool-import/**/*"
      - "doc/ucsschool-manual/**/*"
      - "doc/ucsschool-quickstart/**/*"
      - "doc/ucsschool-scenarios/**/*"
      - "doc/ucsschool-umc-user-import/**/*"
      - "doc/ucsschool-changelog/**/*"
  needs:
    - job: generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

build pre-commit:
  stage: prepare
  rules:
    - changes:
      - .gitlab-ci/Dockerfile.pre-commit
      - .bandit
      - .black
      - .dockerignore
      - .flake8
      - pyproject.toml
      - .pre-commit-config.yaml
  extends: .kaniko
  variables:
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.pre-commit
    KANIKO_ARGS: --cache=true

run pre-commit:
  stage: lint
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE
    PRE_COMMIT_IMAGE: $IMAGE_TAG
  needs:
    - job: build pre-commit
      optional: true
  extends: .pre-commit
  script:
    git config --global --add safe.directory /builds/univention/ucsschool

Issue #956: Adhere to documentation style guide
  doc/ucsschool-quickstart/locales/en/LC_MESSAGES/index.po
Due: doc-pipeline

Issue #956: Add template for disclaimer for English documentation
  doc/_templates-all-docs/sidebar-disclaimer.html
Due: none

Issue #956: Add English translation to UCS@school quickstart documentation
  doc/ucsschool-quickstart/locales/en/LC_MESSAGES/contents.po
  doc/ucsschool-quickstart/locales/en/LC_MESSAGES/index.po
Due: doc-pipeline

Issue #956: Fix some wording generated by Deepl
  doc/ucsschool-quickstart/locales/en/LC_MESSAGES/index.po
Due: doc-pipeline

Bug #27547: ADR 0006: test checklist
  .gitlab/issue_templates/default.md
Due: none

Issue #979: move lib and import YAML's to published
  doc/errata/published/2022-03-27-ucs-school-import.yaml
  doc/errata/published/2022-03-27-ucs-school-lib.yaml
Due: none

Issue #979: fix typo in dates
  doc/errata/published/2023-03-27-ucs-school-import.yaml
  doc/errata/published/2023-03-27-ucs-school-lib.yaml
Due: none

Issue #979: update changelog
  doc/errata/published/2023-03-27-ucs-school-import.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.mo
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/contents.mo
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.mo
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/indices.mo
  doc/ucsschool-changelog/ucs-school-user-import
Due: doc-pipeline

Issue #256: add ADR 0013 web file downloads
  doc/devel/decisions/0013-web-file-downloads.md
Due: none

Bug #53519: add changelogs
  doc/errata/staging/ucs-school-lib.yml
  ucs-school-lib/debian/changelog
Due: none

Bug #53519: validate Windows reserved names for usernames
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
  ucs-school-lib/unittests/models/test_attributes.py
  ucs-test-ucsschool/90_ucsschool/404_ucsschool_lib_models_main.py
Due: none

Bug #53519: add docs
  doc/ucsschool-manual/management/users.rst
Due: doc-pipeline

Bug #55773: fix typo in name description
  doc/errata/staging/ucs-school-umc-printermoderation.yaml
  doc/errata/staging/ucs-school-umc-users.yaml
  ucs-school-umc-printermoderation/debian/changelog
  ucs-school-umc-printermoderation/umc/js/de.po
  ucs-school-umc-users/debian/changelog
  ucs-school-umc-users/umc/js/de.po
Due: none

Bug #55773: set fix versions for updated advisories
  doc/errata/staging/ucs-school-umc-printermoderation.yaml
  doc/errata/staging/ucs-school-umc-users.yaml
Due: none

Issue #948: Class lists can be downloaded in iframe in Firefox again
  doc/errata/staging/ucs-school-umc-lists.yaml
  ucs-school-umc-lists/debian/changelog
  ucs-school-umc-lists/debian/rules
  ucs-school-umc-lists/debian/ucs-school-umc-lists.dirs
  ucs-school-umc-lists/debian/ucs-school-umc-lists.univention-config-registry
  ucs-school-umc-lists/debian/ucs-school-umc-lists.univention-config-registry-variables
  ucs-school-umc-lists/etc/cron.d/ucs-school-umc-lists
  ucs-school-umc-lists/umc/js/de.po
  ucs-school-umc-lists/umc/js/schoollists.js
  ucs-school-umc-lists/umc/python/schoollists/__init__.py
  ucs-school-umc-lists/umc/python/schoollists/de.po
  ucs-school-umc-lists/umc/schoollists.xml
Due: none

Issue #948: yaml file
  doc/errata/staging/ucs-school-umc-lists.yaml
Due: none

Bug #53519: add tests changelog
  ucs-test-ucsschool/debian/changelog
Due: none

Issue #948: fix schoollist CSV test
  ucs-test-ucsschool/90_ucsschool/51_ucs-school-schoollists-csv.py
  ucs-test-ucsschool/debian/changelog
Due: none

Use docker-services pre-commit
  .gitlab-ci.yml
  .gitlab-ci/Dockerfile.pre-commit
Due: build pre-commit

Use default_language_version instead of setting language_version everywhere
  .pre-commit-config.yaml
Due: build pre-commit

Fix: I001 [*] Import block is un-sorted or un-formatted
  ucs-test-ucsschool/90_ucsschool/404_ucsschool_lib_models_main.py
Due: none

Fix: Link
  doc/ucsschool-manual/management/users.rst
Due: doc-pipeline

Bug #53519: add build version to YAML file
  doc/errata/staging/ucs-school-lib.yml
Due: none

Bug #53519: fix test
  ucs-school-lib/unittests/models/test_attributes.py
Due: none

Bug #53519: update changelog for the test fix
  ucs-school-lib/debian/changelog
Due: none

Bug #55986: fix import for admin users
  doc/errata/staging/ucs-school-lib.yml
  doc/errata/staging/ucs-test-ucsschool.yaml
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/models/group.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-test-ucsschool/90_ucsschool/403_test_diagnostic_module_admin_forbidden_group_detection.py
  ucs-test-ucsschool/90_ucsschool/409_ucsschool_lib_user_remove_admin_from_school.py
  ucs-test-ucsschool/90_ucsschool/409_ucsschool_lib_user_ucsschool_roles.py
  ucs-test-ucsschool/debian/changelog
Due: none

Bug #55986: update fix version in advisory
  doc/errata/staging/ucs-school-lib.yml
Due: none

Bug #55945: Fix text for license application
  LICENSE
Due: none

Bug #55914: Add metadata for reuse.software
  .reuse/dep5
Due: none

Bug #55954: Reuse.software requires LICENSES directory
  LICENSES/AGPL-3.0-only.txt
Due: none

Bug #55945: Annotate license header to source files for ucsschool-manual docs
  doc/ucsschool-manual/Makefile
  doc/ucsschool-manual/bibliography.rst
  doc/ucsschool-manual/conf.py
  doc/ucsschool-manual/exam-mode/concept.rst
  doc/ucsschool-manual/exam-mode/configuration.rst
  doc/ucsschool-manual/exam-mode/examples-gpos.rst
  doc/ucsschool-manual/exam-mode/index.rst
  doc/ucsschool-manual/extended-configuration.rst
  doc/ucsschool-manual/index.rst
  doc/ucsschool-manual/installation/index.rst
  doc/ucsschool-manual/installation/integrate-self-service.rst
  doc/ucsschool-manual/installation/multi.rst
  doc/ucsschool-manual/installation/single-to-multi.rst
  doc/ucsschool-manual/installation/single.rst
  doc/ucsschool-manual/links-de.txt
  doc/ucsschool-manual/manage-school-imports.rst
  doc/ucsschool-manual/management/classes.rst
  doc/ucsschool-manual/management/computers.rst
  doc/ucsschool-manual/management/index.rst
  doc/ucsschool-manual/management/rest-api.rst
  doc/ucsschool-manual/management/schools.rst
  doc/ucsschool-manual/management/users.rst
  doc/ucsschool-manual/modules.rst
  doc/ucsschool-manual/performance.rst
  doc/ucsschool-manual/proxy.rst
  doc/ucsschool-manual/python-hooks.rst
  doc/ucsschool-manual/radius.rst
  doc/ucsschool-manual/spelling-word-list.txt
  doc/ucsschool-manual/spelling_wordlist.license
  doc/ucsschool-manual/structure.rst
  doc/ucsschool-manual/ucsschool-handbuch-5.0.html
  doc/ucsschool-manual/windows.rst
Due: doc-pipeline

Bug #55914: Replace reuse downloaded AGPL-3.0-only license
  LICENSES/AGPL-3.0-only.txt
Due: none

Bug #55945: Annotate license header to source files for ucsschool-changelog docs
  doc/ucsschool-changelog/Makefile
  doc/ucsschool-changelog/README.md
  doc/ucsschool-changelog/changelog-ucsschool-5.0v3-de.html
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/conf.py
  doc/ucsschool-changelog/contents.rst
  doc/ucsschool-changelog/index.rst
  doc/ucsschool-changelog/indices.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.mo.license
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/contents.mo.license
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/contents.po
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.mo.license
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/indices.mo.license
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/indices.po
Due: doc-pipeline

Bug #55945: Annotate license header to source files for ucsschool-import docs
  doc/ucsschool-import/Makefile
  doc/ucsschool-import/bibliography.rst
  doc/ucsschool-import/conf.py
  doc/ucsschool-import/configuration/command-line.rst
  doc/ucsschool-import/configuration/default-keys.rst
  doc/ucsschool-import/configuration/delete-users.rst
  doc/ucsschool-import/configuration/format.rst
  doc/ucsschool-import/configuration/index.rst
  doc/ucsschool-import/configuration/mapping.rst
  doc/ucsschool-import/configuration/scheme-formatting.rst
  doc/ucsschool-import/configuration/uniqueness.rst
  doc/ucsschool-import/extending.rst
  doc/ucsschool-import/index.rst
  doc/ucsschool-import/indices.rst
  doc/ucsschool-import/procedure.rst
  doc/ucsschool-import/school-change.rst
  doc/ucsschool-import/spanning-accounts.rst
  doc/ucsschool-import/spelling_wordlist.txt
  doc/ucsschool-import/spelling_wordlist.txt.license
  doc/ucsschool-import/ucsschool-import-handbuch-5.0.html
  doc/ucsschool-import/user_new_example.csv.license
  doc/ucsschool-import/year-change.rst
Due: doc-pipeline

Bug #55945: Activate license statement in doc builds
  doc/ucsschool-changelog/conf.py
  doc/ucsschool-import/conf.py
  doc/ucsschool-manual/conf.py
  doc/ucsschool-quickstart/conf.py
  doc/ucsschool-scenarios/conf.py
  doc/ucsschool-teachers/conf.py
  doc/ucsschool-umc-user-import/conf.py
Due: doc-pipeline

Bug #55945: Use default timestamp format from HTML theme
  doc/ucsschool-changelog/conf.py
  doc/ucsschool-import/conf.py
  doc/ucsschool-manual/conf.py
  doc/ucsschool-quickstart/conf.py
  doc/ucsschool-scenarios/conf.py
  doc/ucsschool-teachers/conf.py
  doc/ucsschool-umc-user-import/conf.py
Due: doc-pipeline

Bug #55945: Annotate license header to source files for ucsschool-scenarios docs
  doc/ucsschool-scenarios/Makefile
  doc/ucsschool-scenarios/_static/custom.css
  doc/ucsschool-scenarios/base-configuration.rst
  doc/ucsschool-scenarios/bibliography.rst
  doc/ucsschool-scenarios/checklists.rst
  doc/ucsschool-scenarios/concepts.rst
  doc/ucsschool-scenarios/conf.py
  doc/ucsschool-scenarios/data-import.rst
  doc/ucsschool-scenarios/images/0_ucsatschool_as_a_service.graphml.license
  doc/ucsschool-scenarios/images/1_zentrale.graphml.license
  doc/ucsschool-scenarios/images/2_zentrale_wlan.graphml.license
  doc/ucsschool-scenarios/images/3_zentrale_wlan_schulserver.graphml.license
  doc/ucsschool-scenarios/images/4_zentrale_wlan_schulserver_rz.graphml.license
  doc/ucsschool-scenarios/index.rst
  doc/ucsschool-scenarios/installation.rst
  doc/ucsschool-scenarios/network-and-hardware.rst
  doc/ucsschool-scenarios/preparation.rst
  doc/ucsschool-scenarios/scenarios.rst
  doc/ucsschool-scenarios/spelling_wordlist.license
  doc/ucsschool-scenarios/ucsschool-import-vorlagen.xlsx.license
  doc/ucsschool-scenarios/ucsschool-szenarien-5.0.html
Due: doc-pipeline

Bug #55945: Change LaTeX theme to manual
  doc/ucsschool-import/conf.py
  doc/ucsschool-teachers/conf.py
  doc/ucsschool-umc-user-import/conf.py
Due: doc-pipeline

Bug #55945: Remove LICENSES directory
  LICENSES/AGPL-3.0-only.txt
Due: none

Bug #55945: Annotate license header to source files for ucsschool-teachers
  doc/ucsschool-teachers/Makefile
  doc/ucsschool-teachers/conf.py
  doc/ucsschool-teachers/index.rst
  doc/ucsschool-teachers/school-admins.rst
  doc/ucsschool-teachers/teachers/class-lists.rst
  doc/ucsschool-teachers/teachers/computer-room.rst
  doc/ucsschool-teachers/teachers/exam-mode.rst
  doc/ucsschool-teachers/teachers/helpdesk.rst
  doc/ucsschool-teachers/teachers/index.rst
  doc/ucsschool-teachers/teachers/materials.rst
  doc/ucsschool-teachers/teachers/passwords.rst
  doc/ucsschool-teachers/teachers/printers.rst
  doc/ucsschool-teachers/teachers/workgroups.rst
  doc/ucsschool-teachers/umc.rst
Due: none
