Repository univention/ucs-school: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, build pre-commit

.gitlab-ci.yml:

stages:
  - prepare
  - lint
  - build

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "webide"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_OPEN_MERGE_REQUESTS
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_PROTECTED == "true"

include:
  - project: univention/dist/docker-services
    file: kaniko.yml

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc)'. With 'force-doc-$doc-basename the jobs run for a distinct document."

generate-config:
  stage: prepare
  image:
    name: docker-registry.knut.univention.de/knut/deb-builder
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
  artifacts:
    paths:
      - generated-config-doc.yml

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/ucsschool-import/**/*"
      - "doc/ucsschool-manual/**/*"
      - "doc/ucsschool-quickstart/**/*"
      - "doc/ucsschool-scenarios/**/*"
      - "doc/ucsschool-umc-user-import/**/*"
      - "doc/ucsschool-changelog/**/*"
  needs:
    - job: generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

build pre-commit:
  stage: prepare
  rules:
    - changes:
      - .gitlab-ci/Dockerfile.pre-commit
      - .bandit
      - .black
      - .dockerignore
      - .flake8
      - .isort.cfg
      - .pre-commit-config.yaml
  extends: .kaniko
  variables:
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.pre-commit
    KANIKO_ARGS: --cache=true

run pre-commit:
  stage: lint
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE
  needs:
    - job: build pre-commit
      optional: true
  image:
    name: $IMAGE_TAG
  script:
    - pre-commit run -a

Issue #927: add support to execute ComputerPyHook during import_computers
  ucs-school-import/modules/ucsschool/importer/utils/computer_pyhook.py
  ucs-school-import/usr/share/ucs-school-import/scripts/import_computer
  ucs-test-ucsschool/90_ucsschool/35_import-computers_via_cli.py
  ucs-test-ucsschool/90_ucsschool/35_import-computers_via_python_api.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/importcomputers.py
Due: none

Issue #927: docu
  doc/ucsschool-manual/manage-school-imports.rst
Due: doc-pipeline

Issue #927: refactoring import_computer
  ucs-school-import/modules/ucsschool/importer/exceptions.py
  ucs-school-import/modules/ucsschool/importer/utils/computer_import.py
  ucs-school-import/modules/ucsschool/importer/utils/computer_pyhook.py
  ucs-school-import/modules/ucsschool/importer/utils/shell.py
  ucs-school-import/usr/share/ucs-school-import/scripts/import_computer
  ucs-test-ucsschool/90_ucsschool/101_exam_cleanup.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_deactivate_user.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_empty_distribution.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_group_members.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_home_directories.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_multischool_student.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_restrict_login.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_settings.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_uids.py
  ucs-test-ucsschool/90_ucsschool/101_exam_prepare.py
  ucs-test-ucsschool/90_ucsschool/21_computerroom_module_base_checks.py
  ucs-test-ucsschool/90_ucsschool/22_computerroom_module_settings.py
  ucs-test-ucsschool/90_ucsschool/22_computerroom_test_printmode_ucr_variables.py
  ucs-test-ucsschool/90_ucsschool/22_computerroom_time_settings.py
  ucs-test-ucsschool/90_ucsschool/22_computerroom_two_rooms_settings_interference.py
  ucs-test-ucsschool/90_ucsschool/25_room_management_module.py
  ucs-test-ucsschool/90_ucsschool/25_room_management_module_veyon_settings.py
  ucs-test-ucsschool/90_ucsschool/35_import-computers.py
  ucs-test-ucsschool/90_ucsschool/35_import-computers_via_cli.py
  ucs-test-ucsschool/90_ucsschool/71_computers_module.py
  ucs-test-ucsschool/90_ucsschool/72_radius_machine_authentication.py
  ucs-test-ucsschool/90_ucsschool/75_ldap_acls_admins.py
  ucs-test-ucsschool/90_ucsschool/75_ldap_acls_staff.py
  ucs-test-ucsschool/90_ucsschool/75_ldap_acls_teacher_and_staff.py
  ucs-test-ucsschool/90_ucsschool/75_ldap_acls_teachers.py
  ucs-test-ucsschool/90_ucsschool/76_ldap_acls.py
  ucs-test-ucsschool/90_ucsschool/83_python_hooks.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/computer.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/computerroom.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/importnetworks.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/school.py
Due: none

Issue #927: changelogs
  ucs-school-import/debian/changelog
  ucs-test-ucsschool/debian/changelog
Due: none

Issue #927: advisory
  doc/errata/staging/ucs-school-import.yaml
Due: none

Issue #927: fix imports in tess
  ucs-test-ucsschool/90_ucsschool/101_exam_cleanup.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_deactivate_user.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_empty_distribution.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_group_members.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_home_directories.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_home_directories_permissions.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_multischool_student.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_restrict_login.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_settings.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_uids.py
  ucs-test-ucsschool/90_ucsschool/101_exam_prepare.py
  ucs-test-ucsschool/90_ucsschool/21_computerroom_module_base_checks.py
  ucs-test-ucsschool/90_ucsschool/22_computerroom_module_settings.py
  ucs-test-ucsschool/90_ucsschool/22_computerroom_test_printmode_ucr_variables.py
  ucs-test-ucsschool/90_ucsschool/22_computerroom_time_settings.py
  ucs-test-ucsschool/90_ucsschool/22_computerroom_two_rooms_settings_interference.py
  ucs-test-ucsschool/90_ucsschool/72_radius_machine_authentication.py
  ucs-test-ucsschool/debian/changelog
Due: none

Issue #927: rerun kelvin tests once
  ucs-test-ucsschool/94_ucsschool-api-kelvin/10_in_container_tests_ucsschool_lib
  ucs-test-ucsschool/debian/changelog
Due: none

Issue univention/internal/hackathon/orga#62: use pre-commit from docker-services
  .gitlab-ci.yml
Due: none

Issue #972: fix import in selenium test
  ucs-test-ucsschool/91_ucsschool-selenium/03_computerroom_endExam
  ucs-test-ucsschool/debian/changelog
Due: none

Bug #55557: improve diagnostic module
  ucs-school-umc-diagnostic/debian/changelog
  ucs-school-umc-diagnostic/umc/python/diagnostic/plugins/900_ucsschool_slave_groupmemberships.py
Due: none

Bug #55557: advisory
  doc/errata/staging/ucs-school-umc-diagnostic.yaml
Due: none

Issue #1418: raise parallel user count
  ucs-test-ucsschool/99_ucsschool-ram-performance/00_warmup.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/01_bff_users_users_post.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/02_bff_users_users_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/03_bff_users_users_search_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/04_bff_users_groups_schoolclass_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/04_bff_users_groups_workgroup_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/05_bff_users_pages_addView_settings_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/06_bff_users_pages_listView_settings_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/07_bff_users_users_patch_scenario_1.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/07_bff_users_users_patch_scenario_2.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/07_bff_users_users_patch_scenario_3.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/08_bff_users_users_delete.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/09_bff_groups_pages_listView_settings_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/11_bff_groups_groups_workgroup_post.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/12_bff_groups_groups_search_school_class_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/13_bff_groups_groups_search_workgroup_get.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/16_bff_groups_school_class_delete.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/17_bff_groups_workgroup_delete.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/18_bff_groups_pages_addView_settings_get.py
  ucs-test-ucsschool/debian/changelog
Due: none

Issue #1418: use locust worker in ram perf tests
  ucs-test-ucsschool/99_ucsschool-ram-performance/conftest.py
  ucs-test-ucsschool/99_ucsschool-ram-performance/locustfiles/locustclasses.py
  ucs-test-ucsschool/debian/changelog
Due: none

Issue #927: tests: decouple computer from import
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/modules/univention/testing/ucsschool/computer.py
Due: none

Issue #927: tests: decouple computer from import
  ucs-test-ucsschool/modules/univention/testing/ucsschool/computer.py
Due: none

Bug #55014: Errata release / Advisory improvements
  doc/devel/README_manual_release.md
  doc/errata/staging/ucs-school-import.yaml
  doc/errata/staging/ucs-school-lib.yaml
  doc/errata/staging/ucs-school-umc-diagnostic.yaml
Due: none

Bug #55014: Errata release / Move advisories to published
  doc/errata/published/2022-01-19-ucs-school-import.yaml
  doc/errata/published/2022-01-19-ucs-school-lib.yaml
  doc/errata/published/2022-01-19-ucs-school-umc-diagnostic.yaml
  doc/errata/staging/ucs-school-import.yaml
Due: none

Bug #55014: Errata release / Fix advisories
  doc/errata/published/2023-01-19-ucs-school-import.yaml
  doc/errata/published/2023-01-19-ucs-school-lib.yaml
  doc/errata/published/2023-01-19-ucs-school-umc-diagnostic.yaml
Due: none

Bug #55014: advisories
  doc/errata/published/2023-01-19-ucs-school-import.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: doc-pipeline

Bug #55014: changelog
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: doc-pipeline

Bug #55014: changelog
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: doc-pipeline

Bug #55014: changelog
  doc/errata/published/2023-01-19-ucs-school-import.yaml
  doc/errata/published/2023-01-19-ucs-school-lib.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: doc-pipeline

Bug #55384: no warmup required anymore
  ucs-test-ucsschool/99_ucsschool-ram-performance/00_warmup.py
  ucs-test-ucsschool/debian/changelog
Due: none

Bug #55127: use external-junit in container test
  ucs-test-ucsschool/93_ucsschool-id-connector/03_id_broker_in_container_integration_tests
  ucs-test-ucsschool/93_ucsschool-id-connector/03_id_broker_in_container_unit_tests
  ucs-test-ucsschool/debian/changelog
Due: none

Bug #54547: update pre-commit isort version to 5.11.5
  .pre-commit-config.yaml
Due: build pre-commit

Bug #935: --add safe.directory in gitlab ci
  .gitlab-ci.yml
Due: none

test: print UCS version in 00_checks/05_check_ucs_version
  ucs-test-ucsschool/00_checks/05_check_ucs_version.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/__main__.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/distribution.py
Due: none

Issue #926: improved ucsschool-changelog readme
  doc/ucsschool-changelog/README.md
Due: doc-pipeline

Bug #55660: Fix quotation errors in German translation
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

style: indent UCR Python templates with spaces
  ucs-school-import/conffiles/etc/cron.d/ucs-school-import
  ucs-school-netlogon-user-logonscripts/conffiles/etc/logrotate.d/ucs-school-netlogon-user-logonscripts
  ucs-school-umc-exam/conffiles/etc/cron.d/ucs-school-umc-exam-master
  ucs-school-webproxy/conffiles/var/www/proxy.pac
Due: none

ci(pre-commit): add pre-commit-ucr for linting Python UCR config files
  .pre-commit-config.yaml
  Makefile
Due: build pre-commit

style: ruff --select UP030 --fix $f
  ucs-school-lib/modules/ucsschool/lib/consistency.py
  ucs-school-lib/unittests/test_roles_valid.py
  ucs-school-umc-diagnostic/umc/python/diagnostic/plugins/904_ucsschool_remove_from_school_consistenceny.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/computerroom.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/distribution.py
Due: none

style: ruff --select RET501 --fix $f
  ucs-school-import/modules/ucsschool/importer/utils/post_read_pyhook.py
  ucs-school-import/modules/ucsschool/importer/utils/pre_read_pyhook.py
  ucs-school-import/modules/ucsschool/importer/utils/result_pyhook.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-umc-computerroom/umc/python/computerroom/room_management.py
Due: none

style: ruff --select UP027 --fix $f
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: none

style: ruff --select PLC --fix $f
  ucs-school-veyon-client/veyon_client/models.py
  ucs-test-ucsschool/90_ucsschool/407_ucsschool_lib_validation_users.py
Due: none

style: ruff --select B011 --fix $f
  ucs-test-ucsschool/90_ucsschool/01_test_school_validation.py
  ucs-test-ucsschool/90_ucsschool/104_delete_computers_delete_related_objects.py
  ucs-test-ucsschool/90_ucsschool/107_user_model_change.py
  ucs-test-ucsschool/90_ucsschool/120_ucsschool_helpdesk_check.py
  ucs-test-ucsschool/90_ucsschool/19_available_umc_modules.py
  ucs-test-ucsschool/90_ucsschool/23_password_reset.py
  ucs-test-ucsschool/90_ucsschool/76_ldap_acls.py
  ucs-test-ucsschool/90_ucsschool/77_object_consistency_script.py
  ucs-test-ucsschool/92_ucsschool-veyon/molotov_veyon_connections.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/computerroom.py
Due: none

style: ruff --select C41 --fix $f
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-umc-exam/umc/python/schoolexam-master/__init__.py
  ucs-school-umc-exam/umc/python/schoolexam/__init__.py
  ucs-school-webproxy/conffiles/ucs-school-webproxy.py
  ucs-test-ucsschool/90_ucsschool/407_ucsschool_lib_validation_users.py
  ucs-test-ucsschool/90_ucsschool/76_ldap_acls.py
Due: none
