Repository univention/ucs-school: changes, and which pre-commit hooks are due for each by the changed paths.
All: advisorycheck, changelogchecks

Path conditions:
  advisorycheck: any of: doc/errata/staging/.* and \.(yaml|yml)$ and not (doc/errata/staging/0template.yaml) and not (^django-pam/)
  changelogchecks: any of: ucs-.*/debian/changelog and not (ucs-test-ucsschool/debian/changelog) and not (^django-pam/)

Bug #57547: Fix tests
  ucs-school-import-lusd/tests/96_ucsschool-import-lusd/01_import_lusd_reader.py
  ucs-school-import-lusd/tests/96_ucsschool-import-lusd/02_import_lusd_cli.py
Due: none

chore: Update changelog and move YAML
  doc/errata/published/2024-09-24-ucs-school-import.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: none

Issue univention/ucsschool#1279: Add documentation for LUSD import.
  .gitignore
  doc/ucsschool-import/index.rst
  doc/ucsschool-import/lusd.rst
  doc/ucsschool-import/spelling_wordlist.txt
Due: none

Issue univention/ucsschool#1279: fix package name
  doc/ucsschool-import/lusd.rst
Due: none

Issue univention/ucsschool#1279: fix missing directory
  doc/ucsschool-import/lusd.rst
Due: none

chore: fix mail template in readme
  doc/devel/README_Releases.md
Due: none

Issue univention/ucsschool#1288: release-dates
  doc/devel/README_Releases.md
Due: none

feat: Pause update of VeyonComputer threads
  doc/errata/staging/ucs-school-umc-computerroom.yaml
  doc/errata/staging/ucs-school-veyon-client.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  ucs-school-umc-computerroom/debian/changelog
  ucs-school-umc-computerroom/umc/python/computerroom/room_management.py
  ucs-school-veyon-client/debian/changelog
  ucs-school-veyon-client/unittests/test_client.py
  ucs-school-veyon-client/veyon_client/client.py
Due: advisorycheck, changelogchecks

tests(veyon): Fix ping method by mocking socket.socket
  ucs-test-ucsschool/90_ucsschool/101_multiple_ips_and_macs.py
  ucs-test-ucsschool/debian/changelog
Due: none

Issue #1285: fix screenshot aspect ratio
  ucs-school-umc-computerroom/umc/python/computerroom/room_management.py
Due: none

docs: Update erratum readme
  doc/devel/README_Erratum.md
Due: none

chore: errata update fixes
  .gitlab-ci/check-bugzilla-bugs
  doc/errata/published/2024-09-26-ucs-school-umc-computerroom.yaml
  doc/errata/published/2024-09-26-ucs-school-veyon-client.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: none

Bug #57610: Revise hardware recommendations for Veyon
  doc/ucsschool-manual/windows.rst
Due: none

Bug #57610: Fix typo
  doc/ucsschool-manual/windows.rst
Due: none

fix: Fix large response times of computer room functions
  doc/errata/staging/ucs-school-umc-computerroom.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  ucs-school-umc-computerroom/debian/changelog
  ucs-school-umc-computerroom/umc/python/computerroom/room_management.py
  ucs-test-ucsschool/90_ucsschool/101_multiple_ips_and_macs.py
Due: advisorycheck, changelogchecks

tests: Fix 101_multiple_ips_and_macs
  ucs-test-ucsschool/debian/changelog
Due: none

chore: move yaml files to published
  doc/errata/published/2024-10-01-ucs-school-umc-computerroom.yaml
Due: none

tests: Added 302_http-api_class_column_no_school_pytest
  ucs-test-ucsschool/90_ucsschool/302_http-api_class_column_no_school_pytest.py
  ucs-test-ucsschool/debian/changelog
Due: none

Issue univention/ucsschool#1296: Add docker sphinx livehtml
  doc/ucsschool-manual/Makefile
Due: none

Issue univention/ucsschool#1296: Update veyon docu
  doc/ucsschool-manual/windows.rst
Due: none

Bug #57610: Clarify which computers matter for performance
  doc/ucsschool-manual/windows.rst
Due: none

tests: Check exam logs after collection
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/modules/univention/testing/ucsschool/exam.py
Due: none

fix: Change ownership only if necessary
  doc/errata/staging/ucs-school-umc-distribution.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  ucs-school-umc-distribution/debian/changelog
  ucs-school-umc-distribution/umc/python/distribution/util.py
Due: advisorycheck, changelogchecks

fix: Improve smb connection reset error handling
  doc/errata/staging/ucs-school-umc-computerroom.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  ucs-school-umc-computerroom/debian/changelog
  ucs-school-umc-computerroom/umc/python/computerroom/__init__.py
Due: advisorycheck, changelogchecks

fix: Handle invalid DNs
  doc/errata/staging/ucs-school-umc-exam.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  ucs-school-umc-exam/debian/changelog
  ucs-school-umc-exam/umc/python/schoolexam-master/__init__.py
  ucs-school-umc-exam/umc/python/schoolexam/__init__.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_remove_users_from_non_primary_groups.py
  ucs-test-ucsschool/debian/changelog
Due: advisorycheck, changelogchecks

Do not set exam NTACL for teachers
  doc/errata/staging/ucs-school-umc-exam.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  ucs-school-umc-exam/debian/changelog
  ucs-school-umc-exam/umc/python/schoolexam/__init__.py
  ucs-test-ucsschool/90_ucsschool/101_exam_mode_home_directories_permissions.py
  ucs-test-ucsschool/debian/changelog
Due: advisorycheck, changelogchecks

Issue univention/ucsschool#1300: add link to help article
  doc/ucsschool-changelog/Makefile
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: none

Issue univention/ucsschool#1300: fix link to help article
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: none

Bug #43243: Raise UMC error if a computer is requested, that is not present in the computerroom.
  doc/errata/staging/ucs-school-umc-computerroom.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  ucs-school-umc-computerroom/debian/changelog
  ucs-school-umc-computerroom/umc/js/de.po
  ucs-school-umc-computerroom/umc/python/computerroom/__init__.py
  ucs-school-umc-computerroom/umc/python/computerroom/de.po
Due: advisorycheck, changelogchecks

Issue univention/ucsschool#1309: Move advisories
  doc/errata/published/2024-10-17-ucs-school-umc-computerroom.yaml
  doc/errata/published/2024-10-17-ucs-school-umc-distribution.yaml
  doc/errata/published/2024-10-17-ucs-school-umc-exam.yaml
Due: none

Issue univention/ucsschool#1309: Fix date in changelog
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
Due: none

UCS@school 5.1 debian/changelog
  django-pam/debian/changelog
  ucs-school-branding/debian/changelog
  ucs-school-import/debian/changelog
  ucs-school-info/debian/changelog
  ucs-school-l10n-fr/debian/changelog
  ucs-school-ldap-acls-master/debian/changelog
  ucs-school-lib/debian/changelog
  ucs-school-metapackage/debian/changelog
  ucs-school-netlogon-user-logonscripts/debian/changelog
  ucs-school-netlogon/debian/changelog
  ucs-school-old-homedirs/debian/changelog
  ucs-school-old-sharedirs/debian/changelog
  ucs-school-ox-support/debian/changelog
  ucs-school-radius-802.1x/debian/changelog
  ucs-school-roleshares/debian/changelog
  ucs-school-selfservice-support/debian/changelog
  ucs-school-umc-common/debian/changelog
  ucs-school-umc-computerroom/debian/changelog
  ucs-school-umc-diagnostic/debian/changelog
  ucs-school-umc-distribution/debian/changelog
  ucs-school-umc-exam/debian/changelog
  ucs-school-umc-groups/debian/changelog
  ucs-school-umc-helpdesk/debian/changelog
  ucs-school-umc-import/debian/changelog
  ucs-school-umc-installer/debian/changelog
  ucs-school-umc-internetrules/debian/changelog
  ucs-school-umc-lessontimes/debian/changelog
  ucs-school-umc-lists/debian/changelog
  ucs-school-umc-printermoderation/debian/changelog
  ucs-school-umc-rooms/debian/changelog
  ucs-school-umc-users/debian/changelog
  ucs-school-umc-wizards/debian/changelog
  ucs-school-veyon-client/debian/changelog
  ucs-school-veyon-windows/debian/changelog
  ucs-school-webproxy/debian/changelog
  ucs-test-ucsschool/debian/changelog
  univention-management-console-module-selective-udm/debian/changelog
Due: changelogchecks

UCS@school 5.2 version number
  .gitlab-ci/base-doc.yml
Due: none

chore(ucs-school-import): Python 3.9
  ucs-school-import/debian/control
Due: none

chore(netlogon-user-logonscripts): dh-systemd
  ucs-school-netlogon-user-logonscripts/debian/control
Due: none

chore(join-hook): execute with Python 3
  ucs-school-metapackage/ucsschool-join-hook.py
Due: none

chore(computerrom): drop python 2.7
  ucs-school-umc-computerroom/debian/rules
Due: none

chore: drop Python 2 builds
  django-pam/debian/rules
  ucs-school-import/debian/rules
  ucs-school-lib/debian/rules
  ucs-school-netlogon-user-logonscripts/debian/rules
  ucs-school-radius-802.1x/debian/rules
  ucs-school-roleshares/debian/rules
  ucs-school-umc-computerroom/debian/rules
  ucs-school-umc-diagnostic/debian/rules
  ucs-school-umc-distribution/debian/rules
  ucs-school-umc-exam/debian/rules
  ucs-school-umc-groups/debian/rules
  ucs-school-umc-helpdesk/debian/rules
  ucs-school-umc-import/debian/rules
  ucs-school-umc-installer/debian/rules
  ucs-school-umc-internetrules/debian/rules
  ucs-school-umc-lessontimes/debian/rules
  ucs-school-umc-lists/debian/rules
  ucs-school-umc-printermoderation/debian/rules
  ucs-school-umc-rooms/debian/rules
  ucs-school-umc-users/debian/rules
  ucs-school-umc-wizards/debian/rules
  ucs-school-veyon-client/debian/rules
  ucs-test-ucsschool/debian/rules
  univention-management-console-module-selective-udm/debian/rules
Due: none

chore(wizards): drop obsolete upgrade code
  ucs-school-umc-wizards/debian/ucs-school-umc-wizards.postinst
Due: none
