Repository univention/ucs-school: changes, and which pre-commit hooks are due for each by the changed paths.
All: advisorycheck, changelogchecks

Path conditions:
  advisorycheck: any of: doc/errata/staging/.* and \.(yaml|yml)$ and not (doc/errata/staging/0template.yaml) and not (^django-pam/)
  changelogchecks: any of: ucs-.*/debian/changelog and not (ucs-test-ucsschool/debian/changelog) and not (^django-pam/)

ci: update 5.2-2 -> 5.2-5
  .gitlab-ci/gitlab-ci.yml
Due: none

docs: add changelog and errata for class grouping in assign-classes grid
  doc/errata/staging/ucs-school-umc-groups.yaml
  ucs-school-umc-groups/debian/changelog
Due: advisorycheck, changelogchecks

chore(SonarQube): Refactor this code to not nest functions more than 4 levels deep.
  ucs-school-umc-groups/umc/js/schoolgroups.js
Due: none

chore(SonarQube): Unexpected var, use let or const instead.
  ucs-school-umc-groups/umc/js/schoolgroups.js
Due: none

chore(SonarQube): Move function 'localeSort' to the outer scope.
  ucs-school-umc-groups/umc/js/schoolgroups.js
Due: none

chore(SonarQube): Use `.includes()`, rather than `.indexOf()`, when checking for existence.
  ucs-school-umc-groups/umc/js/schoolgroups.js
Due: none

chore(SonarQube): Function has too many parameters (18). Maximum allowed is 7.
  ucs-school-umc-groups/umc/js/schoolgroups.js
Due: none

feat: group and sort classes by school in assign-classes grid
  ucs-school-umc-groups/umc/js/schoolgroups.js
Due: none

fix: use single row selection in user group modules
  ucs-school-umc-groups/umc/js/schoolgroups.js
Due: none

chore(SonarQube): Optional chaining should be preferred
  ucs-school-umc-groups/umc/js/schoolgroups.js
Due: none

docs: add changelog and errata for single row selection fix
  doc/errata/staging/ucs-school-umc-groups.yaml
  ucs-school-umc-groups/debian/changelog
Due: advisorycheck, changelogchecks

fix: update pre-commit hooks to include requirements for basedpyright
  .pre-commit-config.yaml
  REUSE.toml
  basedpyright-baseline.json
  requirements-typecheck.txt
Due: none

fix(typecheck): convert ucsschool to implicit namespace package
  basedpyright-baseline.json
  ucs-school-lib/modules/ucsschool/__init__.py
Due: none

fix: add `extraPaths` to pyrightconfig for module resolution
  .gitlab-ci.yml
  basedpyright-baseline.json
  pyrightconfig.json
Due: none

fix(typecheck): pin basedpyright to 1.39.8 using new pipeline template variable
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

chore: suppress IDE diff for large JSON file
  .gitattributes
  REUSE.toml
Due: none

feat: configure autosearch on school change separately
  doc/ucsschool-manual/performance.rst
  ucs-school-umc-groups/debian/ucs-school-umc-groups.univention-config-registry-variables
  ucs-school-umc-groups/umc/js/schoolgroups.js
  ucs-school-umc-wizards/debian/ucs-school-umc-wizards.univention-config-registry-variables
  ucs-school-umc-wizards/umc/js/schoolwizards.js
  ucs-school-umc-wizards/umc/js/schoolwizards/Grid.js
Due: none

docs: add changelog and errata for autosearch on school change
  doc/errata/staging/ucs-school-umc-groups.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
  ucs-school-umc-groups/debian/changelog
  ucs-school-umc-wizards/debian/changelog
Due: advisorycheck, changelogchecks

chore: update release templates
  .gitlab/issue_templates/package_update_issue.md
  .gitlab/issue_templates/release_issue.md
Due: none

ci: support errata package updates in the release pipeline
  .gitlab-ci/release.yml
  .gitlab-ci/update_release_issue.py
  .gitlab/issue_templates/package_update_issue.md
  doc/devel/README_Erratum.md
Due: none

ci: don't run basedpyright on scheduled pipelines
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

fix: remove school/user_role placeholders from LUSD import configs
  doc/errata/staging/ucs-school-import-lusd.yaml
  doc/ucsschool-changelog/spelling_wordlist
  ucs-school-import-lusd/debian/changelog
  ucs-school-import-lusd/tests/96_ucsschool-import-lusd/04_test_config_school_user_role.py
  ucs-school-import-lusd/usr/share/ucs-school-import-lusd/import-config/user_import_lusd_student.json
  ucs-school-import-lusd/usr/share/ucs-school-import-lusd/import-config/user_import_lusd_teacher.json
Due: advisorycheck, changelogchecks

fix(consistency): add check for missing ucsschoolSchool attribute in user objects
  doc/errata/staging/ucs-school-lib.yaml
  doc/ucsschool-changelog/spelling_wordlist
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/consistency.py
Due: advisorycheck, changelogchecks

fix(consistency): fixes from https://git.knut.univention.de/univention/dev/education/ucsschool/-/merge_requests/590/
  ucs-school-lib/modules/ucsschool/lib/consistency.py
Due: none

refactor(consistency): reduce complexity and improve type safety
  basedpyright-baseline.json
  pyrightconfig.json
  ucs-school-lib/modules/ucsschool/lib/consistency.py
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: none

test(consistency): add regression test for missing ucsschoolSchool attribute
  basedpyright-baseline.json
  ucs-test-ucsschool/90_ucsschool/142_test_diagnostic_module_904.py
  ucs-test-ucsschool/90_ucsschool/260_ucsschool_ou_consistency.py
  ucs-test-ucsschool/90_ucsschool/77_object_consistency_script.py
  ucs-test-ucsschool/debian/changelog
Due: none

ci: workaround for stopped kelvin after upgrade
  .gitlab-ci/branch_tests.cfg
Due: none

feat: sort classes and add overflow tooltip in exam and wizard user grids
  doc/errata/staging/ucs-school-umc-exam.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
  ucs-school-umc-exam/debian/changelog
  ucs-school-umc-exam/umc/js/schoolexam/RecipientsGrid.js
  ucs-school-umc-wizards/debian/changelog
  ucs-school-umc-wizards/umc/js/schoolwizards/UserGrid.js
Due: advisorycheck, changelogchecks

feat: Use mail address when searching for users
  doc/errata/staging/ucs-school-lib.yaml
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/school_umc_base.py
Due: advisorycheck, changelogchecks

feat(ucs-school-umc-wizards): Show full name when adding objects
  ucs-school-umc-wizards/umc/js/schoolwizards/UserWizard.js
  ucs-school-umc-wizards/umc/python/schoolwizards/__init__.py
Due: none

feat: add option to show primary mail instead of username
  doc/errata/staging/ucs-school-lib.yaml
  doc/errata/staging/ucs-school-umc-common.yaml
  doc/errata/staging/ucs-school-umc-groups.yaml
  doc/errata/staging/ucs-school-umc-users.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/school_umc_base.py
  ucs-school-umc-common/debian/changelog
  ucs-school-umc-common/debian/control
  ucs-school-umc-common/debian/rules
  ucs-school-umc-common/debian/ucs-school-umc-common.univention-config-registry-variables
  ucs-school-umc-groups/debian/changelog
  ucs-school-umc-groups/umc/js/schoolgroups.js
  ucs-school-umc-users/debian/changelog
  ucs-school-umc-users/umc/python/schoolusers/__init__.py
  ucs-school-umc-wizards/debian/changelog
  ucs-school-umc-wizards/umc/js/schoolwizards/UserGrid.js
  ucs-school-umc-wizards/umc/js/schoolwizards/UserWizard.js
  ucs-school-umc-wizards/umc/python/schoolwizards/__init__.py
Due: advisorycheck, changelogchecks

feat: add UCS@school specific CSS
  doc/errata/staging/ucs-school-umc-common.yaml
  doc/errata/staging/ucs-school-umc-distribution.yaml
  doc/errata/staging/ucs-school-umc-exam.yaml
  doc/errata/staging/ucs-school-umc-groups.yaml
  doc/errata/staging/ucs-school-umc-rooms.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
  ucs-school-umc-common/debian/changelog
  ucs-school-umc-common/debian/ucs-school-umc-common.install
  ucs-school-umc-common/umc/css/ucsschool-common.css
  ucs-school-umc-distribution/debian/changelog
  ucs-school-umc-distribution/umc/js/distribution.js
  ucs-school-umc-distribution/umc/js/distribution/DetailPage.js
  ucs-school-umc-exam/debian/changelog
  ucs-school-umc-exam/debian/control
  ucs-school-umc-exam/umc/js/schoolexam.js
  ucs-school-umc-groups/debian/changelog
  ucs-school-umc-groups/umc/js/schoolgroups.js
  ucs-school-umc-groups/umc/js/schoolgroups/DetailPage.js
  ucs-school-umc-groups/umc/js/schoolgroups/WorkgroupDetailPage.js
  ucs-school-umc-rooms/debian/changelog
  ucs-school-umc-rooms/umc/js/schoolrooms.js
  ucs-school-umc-rooms/umc/js/schoolrooms/DetailPage.js
  ucs-school-umc-wizards/debian/changelog
  ucs-school-umc-wizards/umc/js/schoolwizards.js
  ucs-school-umc-wizards/umc/js/schoolwizards/UserWizard.js
Due: advisorycheck, changelogchecks

chore: add pyc and __pycache__ to gitignore
  .gitignore
Due: none

test: cover email display and search-by-mail for school users
  ucs-school-umc-wizards/debian/control
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-umc-users-command-schoolusers-query.py
  ucs-test-ucsschool/90_ucsschool/117_display_email_and_search_filter.py
  ucs-test-ucsschool/91_ucsschool-selenium/07_show_email_instead_of_username.py
  ucs-test-ucsschool/debian/changelog
Due: none

fix: Remove 'grid' from new UCR-V
  doc/errata/staging/ucs-school-lib.yaml
  doc/errata/staging/ucs-school-umc-common.yaml
  doc/errata/staging/ucs-school-umc-groups.yaml
  doc/errata/staging/ucs-school-umc-users.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/school_umc_base.py
  ucs-school-umc-common/debian/changelog
  ucs-school-umc-common/debian/ucs-school-umc-common.univention-config-registry-variables
  ucs-school-umc-groups/debian/changelog
  ucs-school-umc-groups/umc/js/schoolgroups.js
  ucs-school-umc-users/debian/changelog
  ucs-school-umc-wizards/debian/changelog
  ucs-school-umc-wizards/umc/js/schoolwizards/UserGrid.js
  ucs-school-umc-wizards/umc/js/schoolwizards/UserWizard.js
  ucs-school-umc-wizards/umc/python/schoolwizards/__init__.py
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-umc-users-command-schoolusers-query.py
  ucs-test-ucsschool/90_ucsschool/117_display_email_and_search_filter.py
  ucs-test-ucsschool/91_ucsschool-selenium/07_show_email_instead_of_username.py
  ucs-test-ucsschool/debian/changelog
Due: advisorycheck, changelogchecks

docs: fix spelling
  doc/errata/staging/ucs-school-umc-common.yaml
  doc/errata/staging/ucs-school-umc-distribution.yaml
  doc/errata/staging/ucs-school-umc-exam.yaml
  doc/errata/staging/ucs-school-umc-rooms.yaml
  doc/ucsschool-changelog/spelling_wordlist
Due: advisorycheck

chore: Fix type hint errors
  ucs-school-lib/modules/ucsschool/lib/school_umc_base.py
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-umc-users-command-schoolusers-query.py
  ucs-test-ucsschool/90_ucsschool/117_display_email_and_search_filter.py
  ucs-test-ucsschool/91_ucsschool-selenium/07_show_email_instead_of_username.py
Due: none

docs: Add changelog for 5.2v7
  doc/ucsschool-changelog/index.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
Due: none

docs: ucsschool/umc/show-email-instead-of-username
  doc/ucsschool-changelog/index.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
  doc/ucsschool-manual/extended-configuration.rst
Due: none
