Repository univention/ucs-school: changes, and which pre-commit hooks are due for each by the changed paths.
All: advisorycheck, changelogchecks

Path conditions:
  advisorycheck: any of: doc/errata/staging/.* and \.(yaml|yml)$ and not (doc/errata/staging/0template.yaml) and not (^django-pam/)
  changelogchecks: any of: ucs-.*/debian/changelog and not (ucs-test-ucsschool/debian/changelog) and not (^django-pam/)

fix: return correct role and raise exception upon unknown roles
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: none

fix: simplify DE translation
  ucs-school-import/udm_hook/de.po
Due: none

chore: add debian/changelogs
  ucs-school-import/debian/changelog
  ucs-school-lib/debian/changelog
  ucs-test-ucsschool/debian/changelog
Due: changelogchecks

fix: fix wrong UMC policy name
  ucs-school-import/35ucs-school-import.inst
Due: none

feat: add ImportLegalGuardian
  ucs-school-import/debian/changelog
  ucs-school-import/modules/ucsschool/importer/default_user_import_factory.py
  ucs-school-import/modules/ucsschool/importer/exceptions.py
  ucs-school-import/modules/ucsschool/importer/frontend/parse_user_import_cmdline.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-import/modules/ucsschool/importer/reader/csv_reader.py
  ucs-school-import/modules/ucsschool/importer/utils/constants.py
  ucs-school-import/modules/ucsschool/importer/utils/format_pyhook.py
  ucs-school-import/modules/ucsschool/importer/utils/shell.py
  ucs-school-import/modules/ucsschool/importer/utils/test_user_creator.py
  ucs-school-import/modules/ucsschool/importer/writer/test_user_csv_exporter.py
  ucs-school-import/usr/share/ucs-school-import/pyhooks-available/legal_guardian_as_record_uid.py
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-testuser-import
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/models/__main__.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-test-ucsschool/90_ucsschool/108_import_shell.py
  ucs-test-ucsschool/90_ucsschool/112_import_user_pyhooks.py
  ucs-test-ucsschool/90_ucsschool/114_importuser_udm_properties_udm_syntax_checks.py
  ucs-test-ucsschool/90_ucsschool/243_import_user_validate_mandatory_attributes.py
  ucs-test-ucsschool/90_ucsschool/259_import-users_legal_guardian.py
  ucs-test-ucsschool/90_ucsschool/404_ucsschool_lib_models_main.py
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/modules/univention/testing/ucsschool/importusers.py
Due: changelogchecks

feat: create demo legal guardian
  doc/errata/staging/ucs-school-metapackage.yaml
  ucs-school-metapackage/create_demoportal.py
  ucs-school-metapackage/debian/changelog
Due: advisorycheck, changelogchecks

ci: increase timeout for integration tests
  .gitlab-ci/gitlab-ci.yml
Due: none

feat: Add legal guardian attribute to students
  doc/errata/staging/ucs-school-lib.yaml
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-test-ucsschool/90_ucsschool/404_ucsschool_lib_models_main.py
Due: advisorycheck, changelogchecks

style: Merge if statements with enclosing ones
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: none

feat: add legal guardian to umc
  doc/errata/staging/ucs-school-umc-wizards.yaml
  ucs-school-umc-wizards/debian/changelog
  ucs-school-umc-wizards/debian/control
  ucs-school-umc-wizards/debian/ucs-school-umc-wizards.univention-config-registry-variables
  ucs-school-umc-wizards/umc/js/de.po
  ucs-school-umc-wizards/umc/js/schoolwizards/UserWizard.js
  ucs-school-umc-wizards/umc/js/schoolwizards/utils.js
  ucs-school-umc-wizards/umc/python/schoolwizards/__init__.py
Due: advisorycheck, changelogchecks

feat: Add indices for ucsschoolLegalGuardian
  doc/errata/staging/ucs-school-ldap-acls-master.yaml
  doc/errata/staging/ucs-school-metapackage.yaml
  ucs-school-metapackage/62ucs-school-central-replica.inst
  ucs-school-metapackage/62ucs-school-multiserver.inst
  ucs-school-metapackage/62ucs-school-nonedu-replica.inst
  ucs-school-metapackage/62ucs-school-replica.inst
  ucs-school-metapackage/62ucs-school-singleserver.inst
  ucs-school-metapackage/debian/changelog
  ucs-school-metapackage/debian/control
Due: advisorycheck, changelogchecks

chore: update errata yaml with feature request bug
  doc/errata/staging/ucs-school-import.yaml
  doc/errata/staging/ucs-school-ldap-acls-master.yaml
  doc/errata/staging/ucs-school-lib.yaml
  doc/errata/staging/ucs-school-metapackage.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
Due: advisorycheck

refactor: reduce complexity for SonarQube
  ucs-school-import/usr/share/ucs-school-import/checks/defaults.py
Due: none

docs: add reference to import handbook
  doc/ucsschool-umc-user-import/import.rst
Due: none

test: add playwright for legal guardian
  ucs-test-ucsschool/91_ucsschool-selenium/06_legal_guardian.py
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/debian/control
Due: none

test: you need to remove enough legal guardians in one change
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

test: wrong test header
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

test: we decided to show deactivated users
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

fix: refint setting for ucsschoolLegalGuardian
  doc/errata/staging/ucs-school-ldap-acls-master.yaml
  ucs-school-ldap-acls-master/61ucsschool_presettings
  ucs-school-ldap-acls-master/debian/changelog
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: advisorycheck, changelogchecks

fix: UserDN is a more precise fallback
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
Due: none

fix: Remove legacy role checks
  doc/errata/staging/ucs-school-lib.yaml
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-test-ucsschool/90_ucsschool/409_ucsschool_lib_user_legal_guardian.py
Due: advisorycheck

fix: add loggoing
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
Due: none

test: fix typo in UCR variable name
  ucs-test-ucsschool/modules/univention/testing/ucsschool/ucs_test_school.py
Due: none

fix: use lo.get()
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
Due: none

fix: Index ucsschoolLegalWard
  doc/errata/staging/ucs-school-metapackage.yaml
  ucs-school-metapackage/62ucs-school-central-replica.inst
  ucs-school-metapackage/62ucs-school-multiserver.inst
  ucs-school-metapackage/62ucs-school-nonedu-replica.inst
  ucs-school-metapackage/62ucs-school-replica.inst
  ucs-school-metapackage/62ucs-school-singleserver.inst
Due: advisorycheck

chore: update versions in yaml files
  doc/errata/staging/ucs-school-import.yaml
Due: advisorycheck

fix: Define ucschoolLegalWard in LDAP schema
  ucs-school-import/schema/ucs-school-import.schema
Due: none

chore: add changelog entry for ucs-school-import
  ucs-school-import/debian/changelog
Due: changelogchecks

chore: remove TODO and leave a comment
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

fix: raise exception in post_create/post_modify and log them as well
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
Due: none

fix: improve EN and DE texts
  ucs-school-import/udm_hook/de.po
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
  ucs-school-umc-wizards/umc/js/de.po
Due: none

chore: add type hints and inline doc
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
Due: none

docs: add missing spelling entry
  doc/ucsschool-changelog/spelling_wordlist
Due: none

chore: fix various typos
  doc/errata/staging/ucs-school-import.yaml
  doc/errata/staging/ucs-school-lib.yaml
  doc/errata/staging/ucs-school-metapackage.yaml
  doc/errata/staging/ucs-school-umc-groups.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
  doc/ucsschool-changelog/spelling_wordlist
  doc/ucsschool-import/spelling_wordlist.txt
  doc/ucsschool-manual/spelling_wordlist
  doc/ucsschool-umc-user-import/spelling_wordlist
  ucs-school-import/debian/ucs-school-import.univention-config-registry-variables
  ucs-school-roleshares/debian/ucs-school-roleshares.univention-config-registry-variables
  ucs-school-umc-wizards/umc/js/de.po
Due: advisorycheck

test: merge 2 tests via pytest.parametrize
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

docs: add missing spelling entry
  doc/ucsschool-manual/spelling_wordlist
Due: none

chore: fix wording in udm hook error message.
  ucs-school-import/udm_hook/de.po
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
Due: none

fix: replace legalWard read and mark check
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
Due: none

fix: rename gesetzliche Vertreter to Sorgeberechtigte
  doc/errata/staging/ucs-school-import.yaml
  doc/errata/staging/ucs-school-lib.yaml
  doc/errata/staging/ucs-school-metapackage.yaml
  doc/errata/staging/ucs-school-umc-exam.yaml
  doc/errata/staging/ucs-school-umc-groups.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
  doc/ucsschool-import/procedure.rst
  doc/ucsschool-import/scenarios/legal-guardians.rst
  doc/ucsschool-manual/management/users.rst
  doc/ucsschool-manual/structure.rst
  doc/ucsschool-umc-user-import/import.rst
  doc/ucsschool-umc-user-import/install.rst
  ucs-school-import/35ucs-school-import.inst
  ucs-school-import/debian/ucs-school-import.univention-config-registry-variables
  ucs-school-import/udm_hook/de.po
  ucs-school-ldap-acls-master/65ucsschool
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/i18n.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-umc-import/umc/python/schoolimport/de.po
  ucs-school-umc-wizards/umc/js/de.po
  ucs-test-ucsschool/90_ucsschool/404_ucsschool_lib_models_main.py
  ucs-test-ucsschool/90_ucsschool/407_ucsschool_lib_validation_users.py
  ucs-test-ucsschool/90_ucsschool/409_ucsschool_lib_user_legal_guardian.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/importusers.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/ucs_test_school.py
Due: advisorycheck

fix: only check object if entries of ucsschoolLegalGuardian have changed
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
Due: none
