Repository univention/ucs-school: changes, and which pre-commit hooks are due for each by the changed paths.
All: advisorycheck, changelogchecks

Path conditions:
  advisorycheck: any of: doc/errata/staging/.* and \.(yaml|yml)$ and not (doc/errata/staging/0template.yaml) and not (^django-pam/)
  changelogchecks: any of: ucs-.*/debian/changelog and not (ucs-test-ucsschool/debian/changelog) and not (^django-pam/)

ci(SonarQube): fix source inclusion 3
  sonar-project.properties
Due: none

ci(SonarQube): start fresh
  sonar-project.properties
Due: none

ci: don't update patchlevel, we fail in the next step any way
  .gitlab-ci/branch_tests.cfg
Due: none

chore: Update ucs-test-ucsschool changelog
  ucs-test-ucsschool/debian/changelog
Due: none

fix(ucs-school-umc-exam): Fix race condition in reboot grid view
  doc/errata/staging/ucs-school-umc-exam.yaml
  ucs-school-umc-exam/debian/changelog
  ucs-school-umc-exam/umc/js/schoolexam/RebootGrid.js
Due: advisorycheck, changelogchecks

chore: update repo id
  .gitlab-ci/update_release_issue.py
Due: none

chore: Update advisories
  doc/errata/staging/ucs-school-umc-import.yaml
Due: advisorycheck

docs: Adjust wording
  doc/ucsschool-umc-user-import/install.rst
Due: none

chore: Move advisories to published
  doc/errata/published/2025-06-25-ucs-school-import.yaml
  doc/errata/published/2025-06-25-ucs-school-umc-exam.yaml
  doc/errata/published/2025-06-25-ucs-school-umc-import.yaml
Due: none

ci: fix repo path
  .gitlab-ci/gitlab-ci.yml
  .gitlab-ci/release.yml
  .gitlab-ci/update_release_issue.yml
Due: none

ci: build ucs-test-ucsschool in pipeline
  .gitlab-ci/extract-info-from-advisory.py
Due: none

ci: allow a block of multiple issue references
  .pre-commit-config.yaml
Due: none

test(udm): fix wrong use of uldap.access
  ucs-test-ucsschool/90_ucsschool/102_rename_class.py
  ucs-test-ucsschool/90_ucsschool/115_modify_userattributes_and_ldap_acl.py
  ucs-test-ucsschool/90_ucsschool/216_import-users_delete_variants.py
  ucs-test-ucsschool/90_ucsschool/222_import-users_new_users_deactivated.py
  ucs-test-ucsschool/90_ucsschool/242_import-users_test_password_hashes.py
  ucs-test-ucsschool/90_ucsschool/253_import-users_deactivate.py
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/modules/univention/testing/ucsschool/importou.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/school.py
Due: none

fix(diagnostic): fix wrong usage of access
  doc/errata/staging/ucs-school-umc-diagnostic.yaml
  ucs-school-umc-diagnostic/debian/changelog
  ucs-school-umc-diagnostic/umc/python/diagnostic/plugins/912_ucsschool_invalid_group_names.py
Due: advisorycheck, changelogchecks

chore: Fix and update ignore revs file
  .git-blame-ignore-revs
Due: none

test(udm): fix wrong use of uldap.access
  ucs-test-ucsschool/90_ucsschool/302_http-api_class_column_no_school_pytest.py
  ucs-test-ucsschool/debian/changelog
Due: none

ci: fix repo path
  .gitlab-ci/gitlab-ci.yml
  .gitlab-ci/update_release_issue.yml
Due: none

ci: remove stdout and stderr for successful tests
  .gitlab-ci/parse_junit.py
Due: none

chore: Move errata to published
  doc/errata/published/2025-07-29-ucs-school-umc-diagnostic.yaml
  doc/errata/staging/ucs-school-umc-diagnostic.yaml
Due: advisorycheck

chore: fix spelling error
  doc/errata/published/2025-07-29-ucs-school-umc-diagnostic.yaml
Due: none

docs: fix version in changelog index
  doc/ucsschool-changelog/index.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
Due: none

fix(lusd): fix typo
  ucs-school-import-lusd/modules/ucsschool/import_lusd/cli.py
Due: none

fix(lusd): Prepend school name to classname
  doc/errata/staging/ucs-school-import-lusd.yaml
  ucs-school-import-lusd/debian/changelog
  ucs-school-import-lusd/modules/ucsschool/import_lusd/reader.py
Due: advisorycheck, changelogchecks

test(lusd): Extend test data to include class names with dashes
  doc/errata/staging/ucs-school-import-lusd.yaml
  ucs-school-import-lusd/debian/changelog
  ucs-school-import-lusd/tests/96_ucsschool-import-lusd/01_import_lusd_reader.py
  ucs-school-import-lusd/tests/96_ucsschool-import-lusd/02_import_lusd_cli.py
  ucs-school-import-lusd/usr/share/ucs-school-import-lusd/example_data/student.json
  ucs-school-import-lusd/usr/share/ucs-school-import-lusd/example_data/teacher.json
Due: advisorycheck, changelogchecks

style(lusd): Fix SonarQube issues
  ucs-school-import-lusd/modules/ucsschool/import_lusd/cli.py
  ucs-school-import-lusd/tests/96_ucsschool-import-lusd/02_import_lusd_cli.py
  ucs-school-import-lusd/usr/share/ucs-school-import-lusd/hooks/lusd_class_level_hook.py
Due: none

chore: Move errata to published
  doc/errata/published/2025-07-31-ucs-school-import-lusd.yaml
Due: none

fix(lusd): Prepend school name to classname
  doc/errata/staging/ucs-school-import-lusd.yaml
  doc/ucsschool-changelog/changelog.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/changelog.po
  ucs-school-import-lusd/debian/changelog
  ucs-school-import-lusd/modules/ucsschool/import_lusd/reader.py
Due: advisorycheck, changelogchecks

test(lusd): Extend test data to include class names with dashes
  ucs-school-import-lusd/tests/96_ucsschool-import-lusd/01_import_lusd_reader.py
  ucs-school-import-lusd/tests/96_ucsschool-import-lusd/02_import_lusd_cli.py
  ucs-school-import-lusd/usr/share/ucs-school-import-lusd/example_data/student.json
  ucs-school-import-lusd/usr/share/ucs-school-import-lusd/example_data/teacher.json
Due: none

docs: add supported systems for Apple School Manager to docs
  doc/ucsschool-manual/extended-configuration.rst
Due: none

chore: Move errata to published
  doc/errata/published/2025-08-06-ucs-school-import-lusd.yaml
Due: none

docs(ucsschool-import): Change reference dienststellennummer to schuelerUID/personalUID
  doc/ucsschool-import/lusd.rst
Due: none

chore: use docker for docs livehtml
  doc/Makefile
  doc/README.md
  doc/ucsschool-changelog/Makefile
  doc/ucsschool-manual/Makefile
Due: none

ci: use the test app to simulate a real app update
  .gitlab-ci/branch_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

chore: update patch version for tests
  .gitlab-ci/gitlab-ci.yml
Due: none

feat: Add prerequisites for the legal guardian role
  ucs-school-import/35ucs-school-import.inst
  ucs-school-import/debian/changelog
  ucs-school-import/schema/ucs-school-import.schema
  ucs-school-import/syntax/syntax.ucs-school-import.py
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
Due: changelogchecks

feat: Add refint for ucschoolLegalGuardian
  doc/errata/staging/ucs-school-ldap-acls-master.yaml
  ucs-school-ldap-acls-master/61ucsschool_presettings
  ucs-school-ldap-acls-master/70ucs-school-ldap-acls-master.inst
  ucs-school-ldap-acls-master/debian/changelog
  ucs-school-ldap-acls-master/debian/control
Due: advisorycheck, changelogchecks

feat: add legal guardian role to schoollib
  doc/errata/staging/ucs-school-import.yaml
  doc/errata/staging/ucs-school-lib.yaml
  ucs-school-import/35ucs-school-import.inst
  ucs-school-import/debian/control
  ucs-school-import/debian/ucs-school-import.postinst
  ucs-school-import/debian/ucs-school-import.univention-config-registry-variables
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
  ucs-school-ldap-acls-master/65ucsschool
  ucs-school-ldap-acls-master/debian/changelog
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/i18n.py
  ucs-school-lib/modules/ucsschool/lib/models/__main__.py
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/models/validator.py
  ucs-school-lib/modules/ucsschool/lib/roles.py
  ucs-school-lib/modules/ucsschool/lib/roleshares.py
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
  ucs-test-ucsschool/90_ucsschool/404_ucsschool_lib_models_main.py
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/modules/univention/testing/ucsschool/importusers.py
  ucs-test-ucsschool/modules/univention/testing/ucsschool/ucs_test_school.py
Due: advisorycheck, changelogchecks

docs: fix spelling
  doc/ucsschool-umc-user-import/conf.py
  doc/ucsschool-umc-user-import/spelling_wordlist
Due: none
