Repository univention/ucs-school: changes, and which pre-commit hooks are due for each by the changed paths.
All: advisorycheck, changelogchecks

advisorycheck:
  name: Check YAML errata advisories
  entry: ./.gitlab-ci/validate-advisories
  language: python
  additional_dependencies:
  - pyyaml==6.0

changelogchecks:
  name: Checks on changelog modification
  entry: ./.gitlab-ci/changelog-checks
  language: python
  additional_dependencies:
  - pyyaml==6.0
  - gitpython==3.1.43
  - python-debian==0.1.49

fix: rename legal ward to Schüler in german
  ucs-school-import/35ucs-school-import.inst
  ucs-school-import/udm_hook/de.po
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-umc-wizards/umc/js/de.po
Due: none

test: update and extend ucs-tests for legal guardians / legal wards
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
  ucs-test-ucsschool/debian/changelog
Due: none

fix: use memberOf overlay on all LDAP servers to have the references in sync
  ucs-school-ldap-acls-master/61ucsschool_presettings
Due: none

test: adapt tests to new text messages thrown upon errors
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

fix: use memberOf only on a PDN / add refint and constraints for both attributes
  ucs-school-ldap-acls-master/61ucsschool_presettings
  ucs-school-ldap-acls-master/debian/changelog
Due: changelogchecks

fix: Let ucsschoolLegalWard be managed by memberof overlay
  ucs-school-ldap-acls-master/61ucsschool_presettings
Due: none

fix: large change to improve hook and deal with LDAP changes
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
Due: none

fix: rename legal ward to student / use term "assigned student"
  ucs-school-import/udm_hook/de.po
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
  ucs-test-ucsschool/90_ucsschool/409_ucsschool_lib_user_legal_guardian.py
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

test: workaround for bug #58536 (missing module init)
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

test: check error msg when assigning non-existing users
  ucs-test-ucsschool/90_ucsschool/500_legal_guardian.py
Due: none

perf: Retrieve DNs with function `searchDn`
  doc/errata/staging/ucs-school-lib.yaml
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: advisorycheck, changelogchecks

test: fix validation error due to new legal_guardians
  ucs-school-lib/modules/ucsschool/lib/consistency.py
Due: none

test: adapt 83_python_hooks for legal guardians
  ucs-test-ucsschool/90_ucsschool/83_python_hooks.py
Due: none

fix: keep legal_guardian / legal_ward if not in the mapping
  ucs-school-import/debian/changelog
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
  ucs-test-ucsschool/90_ucsschool/259_import-users_legal_guardian.py
  ucs-test-ucsschool/debian/changelog
Due: changelogchecks

test: add new legal_wards and legal_guardians attributes to test framework
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/modules/univention/testing/ucsschool/user.py
Due: none

test: handle "No school users found" popup
  ucs-test-ucsschool/91_ucsschool-selenium/06_legal_guardian.py
Due: none

test: add wait_for_s4connector, samba was overwriting the changes by the import
  ucs-test-ucsschool/90_ucsschool/229_import-users_blank_email.py
  ucs-test-ucsschool/debian/changelog
Due: none

fix: add default value for non-PDN-systems without UCR variable definition
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
Due: none

chore: bump changelog for last fix
  ucs-test-ucsschool/debian/changelog
Due: none

test: typo legal_guardian -> legal_guardians
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/modules/univention/testing/ucsschool/importou.py
Due: none

fix: do not disable notifier when activate_groupmembers is called
  ucs-school-import/debian/changelog
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
  ucs-test-ucsschool/90_ucsschool/105_activate_groupmembers.py
  ucs-test-ucsschool/debian/changelog
Due: changelogchecks

test: fix 14_http_proxy_basic_auth_check
  ucs-test-ucsschool/90_ucsschool/14_http_proxy_basic_auth_check.py
  ucs-test-ucsschool/debian/changelog
Due: none

fix: only count `is_countable` errors
  ucs-school-import/debian/changelog
  ucs-school-import/modules/ucsschool/importer/mass_import/user_import.py
  ucs-test-ucsschool/90_ucsschool/236_import_user_check_skip_count_exception.py
  ucs-test-ucsschool/90_ucsschool/261_import_user_check_count_exception.py
  ucs-test-ucsschool/90_ucsschool/test261_count_exception.pyhook
  ucs-test-ucsschool/debian/changelog
Due: changelogchecks

fix: object cleanup must be done before remove
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: changelogchecks

chore: update version in yaml
  doc/errata/staging/ucs-school-import.yaml
  doc/errata/staging/ucs-school-lib.yaml
Due: advisorycheck

fix: add default value for ucsschool/ldap/default/container/legal_guardians
  ucs-school-ldap-acls-master/65ucsschool
  ucs-school-ldap-acls-master/debian/changelog
Due: changelogchecks

fix: clear legal guardian / legal ward widget after creating a user
  ucs-school-umc-wizards/debian/changelog
  ucs-school-umc-wizards/umc/js/schoolwizards/UserWizard.js
Due: changelogchecks

chore: update version in yaml
  doc/errata/staging/ucs-school-ldap-acls-master.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
Due: advisorycheck

fix: typo in test_user_creator.py
  doc/errata/staging/ucs-school-import.yaml
  ucs-school-import/debian/changelog
  ucs-school-import/modules/ucsschool/importer/utils/test_user_creator.py
Due: advisorycheck, changelogchecks

chore: changelog
  doc/errata/staging/ucs-school-umc-import.yaml
  ucs-school-umc-import/debian/changelog
Due: advisorycheck, changelogchecks

feat: Add new UCS@school role "Legal Guardian"
  doc/errata/staging/ucs-school-umc-installer.yaml
  ucs-school-umc-installer/debian/changelog
  ucs-school-umc-installer/umc/js/de.po
  ucs-school-umc-installer/umc/js/schoolinstaller.js
Due: advisorycheck, changelogchecks

docs: update changelog / errata yaml
  doc/errata/staging/0template.yaml
  doc/errata/staging/ucs-school-import.yaml
  doc/errata/staging/ucs-school-ldap-acls-master.yaml
  doc/errata/staging/ucs-school-lib.yaml
  doc/errata/staging/ucs-school-metapackage.yaml
  doc/errata/staging/ucs-school-umc-exam.yaml
  doc/errata/staging/ucs-school-umc-groups.yaml
  doc/errata/staging/ucs-school-umc-import.yaml
  doc/errata/staging/ucs-school-umc-installer.yaml
  doc/errata/staging/ucs-school-umc-wizards.yaml
  doc/ucsschool-changelog/index.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/contents.po
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
  doc/ucsschool-changelog/spelling_wordlist
Due: advisorycheck

test: fix 31_create_demoportal.py
  ucs-test-ucsschool/90_ucsschool/31_create_demoportal.py
  ucs-test-ucsschool/debian/changelog
Due: none

test: fix 06_legal_guardian.py
  ucs-test-ucsschool/91_ucsschool-selenium/06_legal_guardian.py
Due: none

feat: raise error
  .gitlab-ci/update_release_issue.py
Due: none

docs: update ucsschool-changelog 5.2v4
  doc/ucsschool-changelog/index.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
Due: none

feat: create ucs-test-ucsschool.yaml for copy_app_binaries
  .gitlab-ci/extract-info-from-advisory.py
Due: none

feat: artifact ucs-test-ucsschool.yaml for copy_app_binaries
  .gitlab-ci/release.yml
Due: none

chore: move yaml for 5.2v4 release
  doc/errata/published/2025-09-02-ucs-school-import.yaml
  doc/errata/published/2025-09-02-ucs-school-ldap-acls-master.yaml
  doc/errata/published/2025-09-02-ucs-school-lib.yaml
  doc/errata/published/2025-09-02-ucs-school-metapackage.yaml
  doc/errata/published/2025-09-02-ucs-school-umc-exam.yaml
  doc/errata/published/2025-09-02-ucs-school-umc-groups.yaml
  doc/errata/published/2025-09-02-ucs-school-umc-import.yaml
  doc/errata/published/2025-09-02-ucs-school-umc-installer.yaml
  doc/errata/published/2025-09-02-ucs-school-umc-wizards.yaml
Due: none

Path conditions:
  advisorycheck: any of: doc/errata/staging/.* and \.(yaml|yml)$ and not (doc/errata/staging/0template.yaml) and not (^django-pam/)
  changelogchecks: any of: ucs-.*/debian/changelog and not (ucs-test-ucsschool/debian/changelog) and not (^django-pam/)
