Repository univention/ucs-school: changes, and which pre-commit hooks are due for each by the changed paths.
All: advisorycheck, changelogchecks

advisorycheck:
  name: Check YAML errata advisories
  entry: ./.gitlab-ci/validate-advisories
  language: python
  additional_dependencies:
  - pyyaml==6.0

changelogchecks:
  name: Checks on changelog modification
  entry: ./.gitlab-ci/changelog-checks
  language: python
  additional_dependencies:
  - pyyaml==6.0
  - gitpython==3.1.43
  - python-debian==0.1.49

fix(umc-users): Better messaging for password resets on replica node
  ucs-school-umc-users/umc/python/schoolusers/__init__.py
Due: none

refactor(ucs-school-umc-users): fix for python:S1192
  ucs-school-umc-users/umc/python/schoolusers/__init__.py
Due: none

test: add test case to test error handling for extendend attributes
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-reset-password-check.py
  ucs-test-ucsschool/debian/changelog
  ucs-test-ucsschool/modules/univention/testing/ucsschool/ucs_test_school.py
Due: none

fix: the handling for required exetended attr was broken
  ucs-school-umc-users/umc/python/schoolusers/__init__.py
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-reset-password-required-attr.py
Due: none

chore: changelog
  doc/errata/staging/ucs-school-umc-users.yaml
  ucs-school-umc-users/debian/changelog
Due: advisorycheck, changelogchecks

test: add ucs-school-umc-users as tag for branch tests
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-reset-password-check.py
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-reset-password-required-attr.py
Due: none

refactor: reorganize spelling wordlist (asc)
  doc/ucsschool-changelog/spelling_wordlist
Due: none

feat: Support for ASMC to run on replica nodes
  doc/errata/staging/ucs-school-lib.yaml
  ucs-school-lib/debian/changelog
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: advisorycheck, changelogchecks

fix: correct log message formatting for import group creation
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: none

test(ucs-school-lib): add validation for `School.get_all()` parameter `filter_local`
  ucs-test-ucsschool/90_ucsschool/01_test_school_get_all.py
  ucs-test-ucsschool/debian/changelog
Due: none

refactor: update type hints for get_all methods in school models
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: none

docs: update changelog
  doc/Makefile
  doc/ucsschool-changelog/index.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
  doc/ucsschool-changelog/spelling_wordlist
Due: none

chore: move yaml advisories to published
  doc/errata/published/2026-03-05-ucs-school-lib.yaml
  doc/errata/published/2026-03-05-ucs-school-metapackage.yaml
  doc/errata/published/2026-03-05-ucs-school-umc-users.yaml
Due: none

fix: update bug extraction command in release instructions
  doc/devel/README_Releases.md
Due: none

fix(ldap-acls): allow teachers to reset passwords if account is locked
  doc/errata/staging/ucs-school-ldap-acls-master.yaml
  ucs-school-ldap-acls-master/65ucsschool
  ucs-school-ldap-acls-master/70ucs-school-ldap-acls-master.inst
  ucs-school-ldap-acls-master/debian/changelog
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-reset-password-check.py
  ucs-test-ucsschool/debian/changelog
Due: advisorycheck, changelogchecks

fix(tests): skip Samba lockout tests if `univention-samba4` is not installed
  ucs-test-ucsschool/90_ucsschool/04_ucs-school-reset-password-check.py
Due: none

fix: Bug #55911: consider localized names for well known SIDs
  ucs-school-metapackage/96univention-samba4slavepdc.inst
Due: none

test: add test for joinscript + changed default names
  ucs-test-ucsschool/90_ucsschool/280_test_samba4slavepdc_joinscript.py
Due: none

chore: changelog
  doc/errata/staging/ucs-school-metapackage.yaml
  ucs-school-metapackage/debian/changelog
Due: advisorycheck, changelogchecks

test: fix 90_ucsschool.116_filter_users.test_filter_users_fails_if_not_user_exist[workgroup-admin]
  ucs-test-ucsschool/90_ucsschool/116_filter_users.py
  ucs-test-ucsschool/debian/changelog
Due: none

test: fix 90_ucsschool.257_import_user_log_stats.master201
  ucs-test-ucsschool/90_ucsschool/257_import_user_log_stats.py
  ucs-test-ucsschool/debian/changelog
Due: none

chore: add note how to update maintenance information
  .gitlab/issue_templates/release_issue.md
Due: none

chore(ucs-test-ucsschool): debian/changelog
  ucs-test-ucsschool/debian/changelog
Due: none

fix(test): execute the test with ucs-school-replica or ucs-school-nonedu-replica
  ucs-test-ucsschool/90_ucsschool/280_test_samba4slavepdc_joinscript.py
Due: none

fix(exam-mode): Do not log error if project is missing
  doc/errata/staging/ucs-school-umc-distribution.yaml
  doc/errata/staging/ucs-school-umc-exam.yaml
  ucs-school-umc-distribution/debian/changelog
  ucs-school-umc-distribution/umc/python/distribution/util.py
  ucs-school-umc-exam/debian/changelog
  ucs-school-umc-exam/debian/control
  ucs-school-umc-exam/umc/python/schoolexam/__init__.py
Due: advisorycheck, changelogchecks

fix(school-import): fix unmap of UcsschoolPurgeTimestamp hook
  ucs-school-import/udm_hook/ucsschool_purge_timestamp.py
Due: none

fix: split hook at ucs version
  doc/errata/staging/ucs-school-import.yaml
  ucs-school-import/35ucs-school-import.inst
  ucs-school-import/debian/changelog
  ucs-school-import/udm_hook/ucsschool_purge_timestamp.py
  ucs-school-import/udm_hook/ucsschool_purge_timestamp_525.py
Due: advisorycheck, changelogchecks

docs: changelog for 5.2v6
  doc/errata/staging/ucs-school-import.yaml
  doc/ucsschool-changelog/index.rst
  doc/ucsschool-changelog/locales/de/LC_MESSAGES/index.po
  doc/ucsschool-changelog/spelling_wordlist
Due: advisorycheck

chore: move yaml advisories to published
  doc/errata/published/2026-04-28-ucs-school-import.yaml
  doc/errata/published/2026-04-28-ucs-school-ldap-acls-master.yaml
  doc/errata/published/2026-04-28-ucs-school-metapackage.yaml
  doc/errata/published/2026-04-28-ucs-school-umc-distribution.yaml
  doc/errata/published/2026-04-28-ucs-school-umc-exam.yaml
Due: none

ci: add baseline
  .pre-commit-config.yaml
  REUSE.toml
  basedpyright-baseline.json
Due: none

fix: invalidate local venv for basedpyright triggered by git commit hook
  .pre-commit-config.yaml
  pyrightconfig.json
Due: none

ci: add ci script and pre commit config
  .gitlab-ci.yml
  .pre-commit-config.yaml
  REUSE.toml
  pyrightconfig.json
Due: none

test: force English net output in PDF printer driver check
  basedpyright-baseline.json
  ucs-test-ucsschool/00_checks/15_ucsschool_check_windows_printer_driver_for_pdf_printer.py
  ucs-test-ucsschool/debian/changelog
Due: none

fix: refactor pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: pin python version in CI and pyright configuration
  .gitlab-ci.yml
  pyrightconfig.json
Due: none

fix: docker-in-docker issue
  .gitlab-ci/gitlab-ci.yml
Due: none

fix: update baseline to pinned python version
  basedpyright-baseline.json
Due: none

fix: rename "Name" column and search field to "User"
  doc/errata/staging/ucs-school-umc-users.yaml
  doc/ucsschool-teachers/images/passwords_students_1.png
  doc/ucsschool-teachers/images/passwords_students_2.png
  doc/ucsschool-teachers/teachers/passwords.rst
  ucs-school-umc-users/debian/changelog
  ucs-school-umc-users/umc/js/de.po
  ucs-school-umc-users/umc/js/schoolusers.js
Due: advisorycheck, changelogchecks

Path conditions:
  advisorycheck: any of: doc/errata/staging/.* and \.(yaml|yml)$ and not (doc/errata/staging/0template.yaml) and not (^django-pam/)
  changelogchecks: any of: ucs-.*/debian/changelog and not (ucs-test-ucsschool/debian/changelog) and not (^django-pam/)
